html {
  height: 100%;
  background: url("../img/about.jpg") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  overflow:auto;
  margin: 15px;
}

.highlight {
  background-color: rgba(255,255,255,0.9);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
}

a {
  color: black;
  font-size: 24px;
}

@media (min-height: 650px) {
  body {    
    bottom: 5px;
  }
}
